*~
*.bak
*.swp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
libtool
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
stamp-h1
m4/*.m4
*.o
*.lo
*.la
*.deps
*.libs

