*~
*.bak
*.swp
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.guess
config.sub
config.log
config.status
configure
libtool
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
stamp-h1
include/iperf-int.h
build-aux/
m4/*.m4
!m4/gnulib-cache.m4
gnulib/
*.o
*.lo
*.la
*.deps
*.libs
